.wrapper
  = render 'shared/side_bar'
  .main
    .main__top
      .group-top 
        =@group.name
      %ul.member-list
        %li.member  Member :
        %li.member  
          = current_user.name
        - @group.users.each do |member|
          - if member != current_user
            %li.member  
              = member.name
      = link_to edit_group_path(@group) do
        .button Edit
    .main__body
      .messages{id: @group.id}
        = render @messages
        
    .main__bottom
      .form
        = form_for [@group, @message],class:"form-and-icon",id:"new__message" do |f|
          = f.text_field :content, class: 'white-box', placeholder: 'type a message',id:"textbox"
          .form__mask
            = f.label :image, class: 'test' do
              %i.far.fa-image
              = f.file_field :image, class: 'hidden'
          = f.submit 'Send', class: 'send'   
